{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'story_5/style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/nav.css' %}" />
  <title>{{ page_title }}</title>
</head>

<body>
  {% include "home/nav.html" %}
  <div class="content">
    {% block content %}
      replace me
    {% endblock %}
  </div>

</body>

</html>