{% extends 'story_5/base.html' %}
{% block content  %}
<h1>Mata Kuliah {{ mata_kuliah.nama }}</h1>
<div>
  <div>
    <table width=100%>
      <tr>
        <th>SKS</th>
        <th>: {{ mata_kuliah.sks }}</th>
      </tr>
      <tr>
        <th>Kelas</th>
        <th>: {{ mata_kuliah.kelas }}</th>
      </tr>
      <tr>
        <th>Dosen</th>
        <th>: {{ mata_kuliah.dosen }}</th>
      </tr>
      <tr>
        <th>Semester</th>
        <th>: {{ mata_kuliah.semester }}</th>
      </tr>
    </table>
    <div class="description">
      <h3>Deskripsi</h3>
      <p>{{ mata_kuliah.deskripsi }}</p>
    </div>
    <a class="btn btn-delete" href="{% url 'story_5:delete_course' mata_kuliah.id %}" >Delete</a>
  </div>

</div>
{% endblock  %}