{% extends 'story_5/base.html' %}

{% block content  %}
<h1>Mata Kuliah</h1>
<div class="space">
  <a class="btn" href="{% url 'story_5:create_course' %}">Add Course</a>
</div>
{% if mata_kuliah  %}
<div class="grid">
  {% for i in mata_kuliah %}
  <div class="card child">
    <div class="align-center">
      <h5 class="card-title">{{ i.nama }}</h5>
      <p class="card-text">Kelas : {{ i.kelas }}</p>
      <p class="card-text">Dosen : {{ i.dosen }}</p>
      <a href="{% url 'story_5:course_detail' id=i.id %}" class="btn">Details</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>Add matkul to see what it can do</h3>
{% endif %}

{% endblock  %}

