{% extends 'story_6/base.html' %}

{% block content  %}
<h1>Activities</h1>
<div class="space">
  <a class="btn" href="{% url 'story_6:register' %}">Add Person</a>
</div>
{% if activities  %}
<div class="grid">
  {% for i in activities %}
  <div class="card child">
    <div class="align-center">
      <h5 class="card-title">{{ i.activities_name }}</h5>
      <p class="card-text">Registered Person</p>
      {% for j in people %}
        {% if j.activities.activities_name == i.activities_name %}
          <p class="card-text">{{ j.people_name }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>Ask admin to add activities</h3>
{% endif %}

{% endblock  %}

