{% extends 'story_6/base.html' %}
{% block content  %}
<br>
<h1> Register </h1>
<br>
<div>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>
{% endblock  %}