{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Story Mustafa</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'home/style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/nav.css' %}" />
</head>

<body>
  {% include "home/nav.html" %}
  <div class="content">
    <div class="grid">
      <div class="child">
        <a class="card" href="{% url 'story_9:index' %}">story 9 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_8:index' %}">story 8 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_7:index' %}">story 7 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_6:index' %}">story 6 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_5:index' %}">story 5 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_4:index' %}">story 4 bos</a>
      </div>
      <div class="child">
        <a class="card" href="{% url 'story_1:index' %}">story 1 bos</a>
      </div>
    </div>
  </div>
</body>

</html>