<div id="navbar">
  <div class="nav-grid">
    <a href="{% url 'home:index' %}">
      <h5>MUSTAFA</h5>
    </a>
    <a href="{% url 'story_1:index' %}">Story 1</a>
    <a href="{% url 'story_4:index' %}">Story 4</a>
    <a href="{% url 'story_5:index' %}">Story 5</a>
    <a href="{% url 'story_6:index' %}">Story 6</a>
    <a href="{% url 'story_7:index' %}">Story 7</a>
    <a href="{% url 'story_8:index' %}">Story 8</a>
    <a href="{% url 'story_9:index' %}">Story 9</a>
  </div>
</div>