{% extends 'story_9/base.html' %}

{% block content  %}


<div>
  {% if user.is_authenticated %}
  <h1>Welcome back {{user.username}}</h1>
    <P>Since there's nothing to do here, you can gladly gtfo by using</P>
    <a class="btn red" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <h1>Register</h1>
    <h3>{{ message }}</h3>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button class="btn btn-class">Submit</button>
    </form>

    <h3>Already have an account?</h3>
    <a class="btn" href="{% url 'login' %}">Login</a>
  {% endif %}
</div>

{% endblock  %}