:root {
    --main-bg: #ffffff;
    --seccond-bg: #f9f9ff;
    --gradien: linear-gradient(90deg, rgba(132, 144, 255, 1) 0%, rgba(98, 189, 252, 1) 100%);
    --margin: calc(50vw - 442px);
    --orphan: 2;
    --contact-size: 180px;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-size: 14px;
}
h1 {
    font-size: 60px;
    font-weight: 500;
}
h5 {
    font-size: 18px;
    font-weight: 500;
}
#navbar {
    height: 70px;
    background: var(--main-bg);
    margin: 0px var(--margin);
}
#navbar a {
    text-decoration: none;
    height: fit-content;
    color: #000;
    margin: auto;
}

#hero-section {
    width: 100vw;
    height: auto;
    background: var(--seccond-bg);
    width: 100%;
}
#about {
    height: auto;
    background: var(--main-bg);
}
#skills {
    height: auto;
    background: var(--main-bg);
}
#experience {
    height: auto;
    background: var(--gradien);
    color: #ffffff;
}
#contact {
    height: auto;
    background: var(--main-bg);
}
.footer {
    height: 100px;
    background: #04091e;
}

.content {
    height: calc(100% - 200px);
    margin: 0px var(--margin);
    padding: 100px 0;
}

.hero-img {
    max-height: 480px;
    max-width: 420px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    border-width: 20px;
    border-style: solid;
    border-image: var(--gradien);
    border-image-slice: 1;
}
.logo {
    width: 64px;
    height: 64px;
}
#contact .logo {
    width: var(--contact-size);
    height: var(--contact-size);
}
.btn {
    display: inline-block;
    padding: 0.5em 2em;
    margin: 1em 0;
    background: var(--gradien);
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    color: #ffffff;
}
.align-center {
    text-align: center;
}

.grid {
    display: grid;
    column-gap: 2em;
    row-gap: 5em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.nav-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
}

#contact .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.child {
    align-content: center;
    vertical-align: middle;
}

#skills .child:last-child {
    grid-column-start: var(--orphan);
}

.space {
    padding-bottom: 100px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
    :root {
        --margin: 1.5em;
        --orphan: 1;
        --contact-size: 100px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    :root {
        --margin: 5em;
        --orphan: 2;
        --contact-size: 120px;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    :root {
        --margin: max(400px, calc(50vw - 550px));
    }
}
