{% load static %}
<!DOCTYPE html>
<html>

{% include 'story_4/head.html' %}

<body>
  {% include 'story_4/navbar.html' %}
  <div id="contact" id="contact">
    <div class="content">
      <div class="grid">
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Insta.png' %}" />
          <p>mustafa.segf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Line.png' %}" />
          <p>mustafa.segf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Github.png' %}" />
          <p>mustafasegf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Linkedin.png' %}" />
          <p>mustafa zaki assagaf</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>