{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Story 3</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'story_4/style.css' %}" />
</head>
