{% load static %}
<!DOCTYPE html>
<html>
  
{% include 'story_4/head.html' %}
<link rel="stylesheet" href="{% static 'home/nav.css' %}" />

<body>
  {% include "home/nav.html" %}
  <div id="hero-section">
    <div class="content">
      <div class="grid">
        <div class="child">
          <p>THIS IS ME</p>
          <h1>MUSTAFA ZAKI ASSAGAF</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          </p>
          <a href="{% url 'story_4:contact' %}" class="btn">CONTACT ME</a>
        </div class="child">
        <div>
          <img class="hero-img" src="{% static 'story_4/pict.png' %}" />
        </div>
      </div>
    </div>
  </div>

  <div id="about">
    <div class="content">
      <div class="align-center">
        <p>ABOUT ME</p>
        <h3>PERSONAL DETAIL</h3>
        <p>
          Generic as shit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        </p>
        <a href="" class="btn">CHECK MY CV</a>
      </div>
    </div>
  </div>

  <div id="skills">
    <div class="content">
      <div class="align-center space">
        <h3>ABOUT ME</h3>
        <p>basic ass description about my skill. May exagerate a bit.. or alot i don’t know. Depends on
          my mood</p>
      </div>
      <div class="grid">
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/python.png' %}" />
          <h5>Python</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/javascript.png' %}" />
          <h5>Javascript</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/react.png' %}" />
          <h5>React</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/nodejs.png' %}" />
          <h5>NodeJS</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        </div>

      </div>

    </div>
  </div>
  <div id="experience">
    <div class="content">
      <div class="align-center space">
        <h3>EXPERIENCE</h3>
        <p>Well i don’t have any professional experience but hey i’m pretty active on my uni, so this is my
          organizational experience</p>
      </div>
      <div class="grid">
        <div class="child">
          <img class="logo" src="{% static 'story_4/betis.png' %}" />
          <h5>BETIS</h5>
          <p>December 2019 - juni 2020</p>
        </div>
        <div class="child">
          <img class="logo" src="{% static 'story_4/sistem.png' %}" />
          <h5>SISTEM</h5>
          <p>Februari 2020 - Sekarang</p>
        </div>
        <div class="child">
          <img class="logo" src="{% static 'story_4/compfest.png' %}" />
          <h5>COMPFEST</h5>
          <p> Maret 2020 - Sekarang</p>
        </div>

        <div class="child">
          <img class="logo" src="{% static 'story_4/pmb.png' %}" />
          <h5>PMB</h5>
          <p>Agustus 2020 - Sekarang</p>
        </div>

        <div class="child">
          <img class="logo" src="{% static 'story_4/DDP0.png' %}" />
          <h5>DDP0</h5>
          <p>july 2020 - september 2020</p>
        </div>

      </div>
    </div>
  </div>
  <div id="contact" id="contact">
    <div class="content">
      <div class="grid">
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Insta.png' %}" />
          <p>mustafa.segf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Line.png' %}" />
          <p>mustafa.segf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Github.png' %}" />
          <p>mustafasegf</p>
        </div>
        <div class="child align-center">
          <img class="logo" src="{% static 'story_4/Linkedin.png' %}" />
          <p>mustafa zaki assagaf</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</body>

</html>