{% load static %}
<div id="navbar">
  <div class="nav-grid">
    <a href="{% url 'story_4:index' %}">
      <h5>MUSTAFA</h5>
    </a>
    <a href="{% url 'story_4:index' %}#hero-dection">HOME</a>
    <a href="{% url 'story_4:index' %}#about">ABOUT</a>
    <a href="{% url 'story_4:index' %}#skills">SKILLS</a>
    <a href="{% url 'story_4:index' %}#experience">EXPERIENCE</a>
    <a href="{% url 'story_4:contact' %}">CONTACT</a>
  </div>
</div>