{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'story_1/style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/nav.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <title>Story 1</title>
</head>

<body>
  {% include "home/nav.html" %}
  <div>
    <h1>Profile</h1>
  </div>
  <div class="flex-grid">
    <div class="col">
      <div class="desc">
        <p>Nama: Mustafa Zaki Assagaf</p>
        <p>MPM: 1906398824</p>
        <p>Angkatan: 2019</p>
        <p>Hobi: Belajar</p>
        <p>Deskripsi: yes</p>
        <p>Kukiah: Universitas Isekai</p>
        <p>Pendidikan: yes</p>
        <p>Medsos</p>
      </div>
    </div>
    <div class="col">
      <a href="google.com"> <img class="img-box" src="{% static 'story_1/foto.jpg' %}" /></a>
    </div>
  </div>
</body>

</html>