{% extends 'story_9/base.html' %}

{% block content  %}
{% if user.is_authenticated %}
  <meta http-equiv="refresh" content="2; URL={% url 'story_9:index' %}" />
  <h3>You already logged in. will redirect in 3 seccond</h3>

{% else %}
  <h1>Login</h1>

  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table}}
    </table>
    <button class="btn">Login</button>
  </form>

  <h3>Don't have an account?</h3>
  <a class="btn" href="{% url 'story_9:index' %}">Register</a>
{% endif %}

{% endblock  %}