:root{
    --width:50%;
    --flex-dir:row;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 0 20px;
}
.flex-grid {
    margin: 20px 20px 0;
    display: flex;
    flex-direction: var(--flex-dir);
}

.col {
    flex: 1;
}

.img-box{
    object-fit: cover;
    width: 250px;
    height: 330px;
    margin: 0 25%;
}

.desc{
    margin: 0 auto;
    width: var(--margin-width);
}


@media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        :root{
            --margin-width:70%
        }
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
        :root{
            --margin-width:90%;
            --flex-dir:column;
        }
}