:root{
  --grid:9;
  --margin-nav:calc(50vw - 442px);
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: 14px;
}


#navbar h1 {
  font-size: 60px;
  font-weight: 500;
}

#navbar h5 {
  font-size: 18px;
  font-weight: 500;
}

#navbar {
  min-height: 108px;
  height: auto;
  background:  #ffffff;
  margin: 0px var(--margin-nav);
}

#navbar a {
  text-decoration: none;
  height: fit-content;
  color: #000;
  margin: auto;
}

.nav-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(var(--grid), 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
}

@media only screen and (max-device-width: 768px) {
  :root {
    --grid:5;
    --margin-nav: 1.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    --grid:7;
    --margin-nav: 5em;
  }
}

