body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: 14px;
}

.content {
  /* width: 100%; */
  height: calc(100% - 200px);
  margin: 0px 5%;
  padding: 100px 0;
}

.grid {
  display: grid;
  column-gap: 2em;
  row-gap: 5em;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.child{
  align-content: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.card{
  text-align: center;
  display: block;
  width: 100%;
  padding: 160px 0;
  background: lightblue;
  text-decoration: none;
  text-transform: uppercase;

}