{% extends 'story_7/base.html' %}

{% block content  %}
<h1>Accordion</h1>

<div class="accordion">

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">aktivitas saat ini</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>PIC IT-DEV Educare</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">pengalaman organisasi</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>SISTEM Fasilkom</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">pengalaman kepanitiaan</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>Betis</li>
      <li>Compfest</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">prestasi</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>Finailst Hacketon Find-it</li>
    </ul>
  </div>

</div>

{% endblock  %}